streamlit 
matplotlib
networkx
google-cloud-secret-manager
numpy
pandas
duckdb
google-cloud-aiplatform
vertexai
plotly==5.17.0               
wordcloud==1.9.2             
controlflow
langchain[google]==0.0.336  # Adjust version as needed
streamlit-lottie

